@model IEnumerable<ThatBusLine.Models.Announcement>
@using Microsoft.AspNetCore.Identity
@using ThatBusLine.Areas.Identity.Data

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageTarget)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageTarget)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="fa-solid fa-pen"></a>&nbsp;
                <a asp-action="Details" asp-route-id="@item.ID" class="fa-solid fa-file"></a>&nbsp;
                <a asp-action="Delete" asp-route-id="@item.ID" class="fa-solid fa-x" style="color:red;"></a>
            </td>
        </tr>
            
    }
    </tbody>
</table>
